.bg-img {
    background-image: url(../img/inovacao-e-tecnologia.jpg);
    width: auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    margin-top: 25%;
}

.modal-btn {
    font-size: 20px;
}

.modal-bg-img {
    background-position: 53% 50%;
}

.modal-btn, .btn-close {
    background-color: var(--bg-btn-data);
}

.modal-btn:hover {
    background-color: var(--bg-btn-blue);
}

