* {
    font-family: 'Zen Antique', serif;
    font-weight: 300;
    font-size: 1.6rem;
    color: white;
}

:root{
    --bg-btn-dark: rgba(0, 0, 0, 0.5);
    --bg-btn-blue: rgba(33, 48, 190, 0.4);
    --bg-btn-data: rgb(89, 117, 214);
}

.bg-img {
    background-image: url(../img/inovacao-e-tecnologia.jpg);
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    font-size: 20px;
}

.bg-btn-dark {
    background: var(--bg-btn-dark);
}

.bg-btn-dark:hover, .bg-btn-blue:hover {
    background-color: transparent;
    color: white;
    border-color: black;
}

.bg-btn-blue {
    background: var(--bg-btn-blue);
}

.home {
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
    color: white;
    font-size: large;
}

.home:hover {
    border-color: transparent;
}

@media(max-width: 800px){
    .bg-img{
        background-position: 53% 50%;
    }
}